<!DOCTYPE html>
<html >
<head>
</head>
<div >
    <div style="background-color: aqua;">
        <h1 style="text-align: center;">   TERASOL  </a></h1>
</div>
    <button><a href="/" >HomePage</a></button>
    <form action="/api/people/<%=records._id%>" method="POST">
        Name: <input    type="text" name="name" value="<%= records.name %>" /> <br>
        Email: <input    type="text" name="email" value="<%= records.email %>"/><br>
        City:<input    type="text" name="city"  value="<%= records.city %>"/><br>
        <button class="button" type="submit">Update</button>
    </form>
    <br><br>
</div>
</body>
</html