<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div style="background-color: aqua;">
        <h1 style="text-align: center;">   TERASOL  </a></h1>
</div>

<button><h1> <a href="/api/people" > Existing Users Details  </a></h1></button>
<br><br>


<form action="/api/people" method="POST" style="text-align: center;background-color: darkorange;">
    <h1>Insert New User Data </h1>
     <br><br>
    Name: <input   type="text" name="name"  required /> <br><br>
    Email: <input   type="email" name="email" required/><br><br>
    Mobile Number:<input   type="number" name="mobile"/><br><br>
    City:<input   type="text" name="city"/><br><br>
    <button type="submit">Register</button>
</form>

</div>

</body>
</html>

